#-------------------------------------------------
# OS-specific (macOS)
#-------------------------------------------------
.DS_Store
.AppleDouble
.LSOverride

# macOS metadata files
Icon?
._*

#-------------------------------------------------
# Editor & IDE files
#-------------------------------------------------
*.swp
*.swo
*~
*.bak
*.tmp
*.log

# VSCode
.vscode/

#-------------------------------------------------
# IETF Draft build artifacts
#-------------------------------------------------
# Common I-D output formats
*.txt
*.html
*.pdf
*.nits

